################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MulticastDelegateExtensions/bin/Debug/netstandard2.0
/MulticastDelegateExtensions/obj
/TestConsole/bin/Debug/netcoreapp3.1
/TestConsole/obj
/MulticastDelegateExtensions/bin/Debug
